<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="title" content="ArchDesign" />
        <meta name="description" content="Arch design Service” kompaniyasi 2017-yilda tashkil etilgan bo‘lib, arxitektura-qurilish loyihalarini kompleks ishlab chiqishga ixtisoslashgan. Bugun biz mijozlarimizga turar-joy majmualari, davlat, maʼmuriy, maxsus obʼyektlardan tortib  dala uylari va interyerigacha boʻlgan dizayn va dizayn xizmatlarining toʻliq konseptsiyasini taklif etamiz. Biz ustuvor strategik tamoyilga amal qilgan holda eskizdan tortib arxitektura nazoratigacha bo‘lgan yirik, murakkab, ilm-fanni talab qiluvchi loyihalarni yuqori sifat va maqbul narxlarda amalga oshiramiz.">
        <meta name="keywords" content="archdesign, ArchDesign, arch & design, arch and design, architecture, archdesign.uz, arch design uz">
        <meta property="og:title" content="ArchDesign">
        <meta property="og:url" content="arch-design.uz">
        <meta property="og:image" content="{% static 'img/footer_logo.png' %}">
        <meta property="og:description" content="Arch design Service” kompaniyasi 2017-yilda tashkil etilgan bo‘lib, arxitektura-qurilish loyihalarini kompleks ishlab chiqishga ixtisoslashgan. Bugun biz mijozlarimizga turar-joy majmualari, davlat, maʼmuriy, maxsus obʼyektlardan tortib  dala uylari va interyerigacha boʻlgan dizayn va dizayn xizmatlarining toʻliq konseptsiyasini taklif etamiz. Biz ustuvor strategik tamoyilga amal qilgan holda eskizdan tortib arxitektura nazoratigacha bo‘lgan yirik, murakkab, ilm-fanni talab qiluvchi loyihalarni yuqori sifat va maqbul narxlarda amalga oshiramiz.">
		<title>Arch Design</title>
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,700&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
			integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
        <link rel=“alternate“ hreflang=“uz“ href=“http://127.0.0.1:8000/uz/“>
        <link rel=“alternate“ hreflang=“ru“ href=“http://127.0.0.1:8000/ru/“>
        <link rel=“alternate“ hreflang=“en“ href=“http://127.0.0.1:8000/en/“>
		<link
			rel="stylesheet"
			href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
		/>
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
	</head>
	<body id="homepage">
		<!-- * nav -->
		<nav class="nav container">
			<a class="nav__brand" href="#">
				<img class="nav__logo" src="{% static 'img/Arch Design LOGO png.png' %}" alt="sitelogo" />
			</a>
			<div id="toggler" class="nav__toggle">
				<svg id="toggler__img" width="100" height="100" viewBox="0 0 100 100">
					<path
						class="line line1"
						d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058"
					/>
					<path class="line line2" d="M 20,50 H 80" />
					<path
						class="line line3"
						d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942"
					/>
				</svg>
			</div>
			<div class="nav__lists">
				<ul class="nav__list nav__list--links">
					<li class="nav__item hidden">
						<a class="nav__brand" href="#">
							<img class="nav__logo" src="{% static 'img/logo.png' %}" alt="sitelogo" />
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="{% url 'index' %}">{% trans 'Bosh sahifa' %}</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="{% url 'about' %}">{% trans 'Biz haqimizda' %}</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="{% url 'projects' %}">{% trans 'Loyihalar' %}</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="{% url 'services' %}">{% trans 'Xizmatlar' %}</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="{% url 'news' %}">{% trans 'Yangiliklar' %}</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="{% url 'contacts' %}">{% trans 'Boglanish' %}</a>
					</li>
				</ul>
<div class="nav__dropdown">
					<button class="nav__lang langclick">
						<img
							class="lang__img langclick"
							src="{% static 'flugs/russia_flag_logo0.jpg' %}"
							alt=" "
						/>
						<span class="lang__text langclick">Ru</span>
						<i class="fas fa-chevron-down langclick"></i>
					</button>
					<ul class="nav__list nav__list--langs">
						<li class="nav__item lang">
							<a class="nav__link tick" href="http://127.0.0.1:8000/uz/" data-id="uz">
								<img
									class="lang__img tick"
									src="{% static 'flugs/uzb_flag_logo.jpg' %}"
									alt=" "
									data-id="uz"
								/>
								<span class="lang__text tick" data-id="uz">Uz</span>
							</a>
						</li>
						<li class="nav__item lang">
							<a class="nav__link tick" href="http://127.0.0.1:8000/ru/" data-id="ru">
								<img
									class="lang__img tick"
									src="{% static 'flugs/russia_flag_logo0.jpg' %}"
									alt=" "
									data-id="ru"
								/>
								<span class="lang__text tick" data-id="ru">Ru</span>
							</a>
						</li>
                        <li class="nav__item lang">
							<a class="nav__link tick" href="http://127.0.0.1:8000/en/" data-id="en">
								<img
									class="lang__img tick"
									src="{% static 'flugs/enflug.jpg' %}"
									alt=" "
									data-id="en"
								/>
								<span class="lang__text tick" data-id="en">En</span>
							</a>
						</li>
					</ul>
				</div>
                </div>
            </div>
            </div>
            </div>
		</nav>
		<!-- ! location to be smooth scrolled to -->
		<div id="smooth"></div>
		<!-- * home carousel -->
		<!-- Slider main container -->
		<div class="swiper main-swiper">
			<!-- Additional required wrapper -->
			<div class="swiper-wrapper">
				<!-- Slides -->
				<div class="swiper-slide swiper__slide">
					<img src="{% static 'img/home_carousel1.jpg' %}" alt="home_carousel1" />
					<div class="swiper__box">
						<div class="swiper__caption">
							<h2 class="swiper__title">{% trans 'Bizning xizmatlarimiz' %}</h2>
							<p class="swiper__text">
                                {% trans 'Turar-joy, jamoat va sanoat binolari,majmualarini qurish uchun loyiha-smeta hujjatlarini ishlab chiqish,shu jumladan ularning muhandislik tizimlarini loyihalash.Ichki va tashqi dizaynini ishlab chiqish. ' %}
							</p>
							<a class="swiper__link" href="{% url 'contacts' %}">{% trans 'Batafsil malumot' %}</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide swiper__slide">
					<img src="{% static 'img/home_carousel2.jpg' %}" alt="home_carousel2" />
					<div class="swiper__box">
						<div class="swiper__caption">
							<h2 class="swiper__title">{% trans 'Bizning xizmatlarimiz' %}</h2>
							<p class="swiper__text">
                                {% trans 'Qurilish obektlarini kapital va joriy tamirlash uchun loyiha-smeta hujjatlari.' %}
							</p>
							<a class="swiper__link" href="{% url 'contacts' %}">More info</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide swiper__slide">
					<img src="{% static 'img/home_carousel3.jpg' %}" alt="home_carousel3" />
					<div class="swiper__box">
						<div class="swiper__caption">
							<h2 class="swiper__title">{% trans 'Bizning xizmatlarimiz' %}</h2>
							<p class="swiper__text">
                                {% trans 'Arxitektura yodgorliklarini restavratsiya loyihasini ishlab chiqish va mualliflik nazorati.' %}
							</p>
							<a class="swiper__link" href="{% url 'contacts' %}">More info</a>
						</div>
					</div>
				</div>
			</div>

			<!-- Navigation buttons -->
			<div class="swiper-button-prev swiper__button"></div>
			<div class="swiper-button-next swiper__button"></div>
		</div>
		<!-- * home content -->
		<div class="container">
			<div class="home">
				<i class="fas fa-city home__icon"></i>
				<h2 class="home__title">“Arch design Service”</h2>
				<p class="home__text">
                    {% trans '“Arch design Service” kompaniyasi 2017-yilda tashkil etilgan bo‘lib, arxitektura-qurilish loyihalarini kompleks ishlab chiqishga ixtisoslashgan. Bugun biz mijozlarimizga turar-joy majmualari, davlat, maʼmuriy, maxsus obʼyektlardan tortib  dala uylari va interyerigacha boʻlgan dizayn va dizayn xizmatlarining toʻliq konseptsiyasini taklif etamiz. Biz ustuvor strategik tamoyilga amal qilgan holda eskizdan tortib arxitektura nazoratigacha bo‘lgan yirik, murakkab, ilm-fanni talab qiluvchi loyihalarni yuqori sifat va maqbul narxlarda amalga oshiramiz.' %}
				</p>
				<hr class="home__line" />
				<a class="home__link" href="#">{% trans 'Biz haqimizda' %}</a>
			</div>
		</div>
		<!-- * info -->
		<div class="info">
			<div class="container">
				<div class="info__content">
					<h2 class="info__title">“Arch design Service”</h2>
					<p class="info__text">
                        {% trans 'Bizning vazifamiz – mijozning investitsiya niyati va xalqaro standartlar talablarini hisobga olgan holda, barcha zamonaviy texnologiyalar, fan yutuqlari, dizayn san’ati, etika, estetikadan foydalangan holda xavfsiz, samarali va yuqori texnologiyali loyihani ishlab chiqish va amalga oshirishdir. Loyihalash, qurilish va bosh pudrat ishlarini bajarishda buyurtmachining moliyaviy resurslaridan oqilona foydalanishni ta’minlagan holda, taklif etilayotgan xizmatlar turlarini doimiy ravishda rivojlantirish, takomillashtirish va kengaytirishga intilamiz.' %}
					</p>
					<a class="info__link" href="#">{% trans 'Batafsil' %}</a>
				</div>
			</div>
		</div>
		<!-- * employees -->
		<div class="container">
            <br>
		</div>
		<!-- * works -->
		<div class="works"></div>
		<!-- * process -->
		<div class="container">
			<div class="process">
				<h2 class="process__title">{% trans 'Bizning ish jarayonimiz' %}</h2>
				<div class="process__boxes">
					<div class="process__box">
						<div class="process__order">
							<span class="process__number">1</span>
							<i class="fas fa-envelope-open-text process__icon"></i>
						</div>
						<div class="process__text">
                            {% trans 'Saytda so`rov qoldiring yoki qo`ng`iroq qiling' %}
						</div>
					</div>
					<div class="process__box">
						<div class="process__order">
							<span class="process__number">2</span>
							<i class="fas fa-pencil-alt process__icon"></i>
						</div>
						<div class="process__text">
                            {% trans 'Menejer sizning qurilish obyektingizni bepul o`lchash uchun ro`yxatdan o`tkazadi' %}
						</div>
					</div>
					<div class="process__box">
						<div class="process__order">
							<span class="process__number">3</span>
							<i class="fas fa-pencil-ruler process__icon"></i>
						</div>
						<div class="process__text">
                            {% trans 'Mutaxassis keladi, sizga maslahat beradi va o`lchash ishlarini olib boradi' %}
						</div>
					</div>
					<div class="process__box">
						<div class="process__order">
							<span class="process__number">4</span>
							<i class="fas fa-file-signature process__icon"></i>
						</div>
						<div class="process__text">
                            {% trans 'Loyihani muhokama qilish, shartnoma tuzish, oldindan to`lov' %}
						</div>
					</div>
					<div class="process__box">
						<div class="process__order">
							<span class="process__number">6</span>
							<i class="fas fa-file-invoice-dollar process__icon"></i>
						</div>
						<div class="process__text">{% trans 'Obyektni yetkazib berish, Yakuniy to`lov' %}</div>
					</div>
				</div>
			</div>
		</div>
		<!-- * footer -->
		<div class="footer">
			<div class="footer__content">
				<div class="container">
					<div class="footer__top">
						<div class="footer__contacts">
							<a class="footer__brand" href="#">
								<img
									class="footer__logo"
									src="{% static 'img/footer_logo.png' %}"
									alt="footer logo"
								/>
							</a>
							<div class="footer__line"></div>
							<div class="footer__contactbox">
								<a class="footer__contact" href="tel:+998 91 583 36 66">
									<i class="fas fa-phone-alt footer__contact--icon"></i>
									<span class="footer__contact--text">+998 91 583 36 66</span>
								</a>
							</div>
							<div class="footer__contactbox">
								<a class="footer__contact" href="mailto:info@archdesign.uz">
									<i class="fas fa-envelope footer__contact--icon"></i>
									<span class="footer__contact--text">info@archdesign.uz</span>
								</a>
							</div>
							<div class="footer__contactbox">
								<a
									class="footer__contact"
									href="https://www.google.com/maps/search/+%D0%B3.+%D0%A2%D0%B5%D1%80%D0%BC%D0%B5%D0%B7,/@37.2290345,67.2694544,18.74z"
									target="_blank"
								>
									<i class="fas fa-map-marker-alt footer__contact--icon"></i>
									<span class="footer__contact--text"
										>{% trans 'г. Термез, ул. Шукрона, дом 15д' %}</span
									>
								</a>
							</div>
						</div>
						<div class="footer__links">
							<h3 class="footer__links--title">{% trans 'Malumot' %}</h3>
							<ul class="footer__list">
								<li class="footer__item">
									<a class="footer__link" href="#">{% trans 'Biz haqimizda' %}</a>
								</li>
								<li class="footer__item">
									<a class="footer__link" href="{% url 'projects' %}">{% trans 'Loyihalar' %}</a>
								</li>
								<li class="footer__item">
									<a class="footer__link" href="{% url 'services' %}">{% trans 'Xizmatlar' %}</a>
								</li>
								<li class="footer__item">
									<a class="footer__link" href="{% url 'news' %}">{% trans 'Yangiliklar' %}</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="footer__bottom-wrap">
					<div class="container">
						<div class="footer__bottom">
							<div class="footer__copyright">
								© 2022 Arch & Design Service, {% trans 'Все права защищены' %}
							</div>
							<ul class="footer__social">
								<li class="footer__social--item">
									<a class="footer__social--link" target="_blank" href="https://www.facebook.com/profile.php?id=100082099819128">
										<i class="fab fa-facebook-f footer__social--icon"></i>
									</a>
								</li>
								<li class="footer__social--item">
									<a class="footer__social--link" target="_blank" href="https://t.me/arch_design_service">
										<i class="fab fa-telegram-plane footer__social--icon"></i>
									</a>
								</li>
								<li class="footer__social--item">
									<a class="footer__social--link" target="_blank" href="https://www.instagram.com/arch_design_service_2017">
										<i class="fab fa-instagram footer__social--icon"></i>
									</a>
								</li>
								<li class="footer__social--item">
									<a class="footer__social--link" target="_blank" href="https://www.youtube.com/channel/UCGQNd1FY2AbxoUl5Y2mI-Ww">
										<i class="fab fa-youtube footer__social--icon"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- * menu curtain -->
        <div id="menu-curtain"></div>
		<!-- * to top button -->
		<a id="up" href="#body" aria-label="up to top">
			<i class="fas fa-chevron-up"></i>
		</a>
		<!-- ! link js -->
		<script src="{% static 'js/general.js' %}"></script>
{#		<script src="{% static 'js/dropdown.js' %}"></script>#}
        <script>

            (function () {
	var elDropdown = $(".nav__dropdown");
	var elDropdownToggler = $(".nav__lang");
	var elDropdownList = $(".nav__list--langs");

	var hideDropdown = (evt) => {
		if (
			!evt.target.classList.contains("tick") &&
			!evt.target.classList.contains("langclick")
		) {
			elDropdownList.classList.remove("dropdown--show");
			elDropdownToggler.classList.remove("active");
			elDropdownToggler.removeEventListener(
				"click",
				hideDropdownOnTogglerClick
			);
			document.removeEventListener("click", hideDropdown);
		}
	};

	var hideDropdownOnTogglerClick = () => {
		elDropdownList.classList.remove("dropdown--show");
		elDropdownToggler.classList.remove("active");
		elDropdownToggler.removeEventListener("click", hideDropdownOnTogglerClick);
		document.removeEventListener("click", hideDropdown);
	};

	var showDropdown = () => {
		elDropdownList.classList.add("dropdown--show");
		elDropdownToggler.classList.add("active");
		document.addEventListener("click", hideDropdown);
		elDropdownToggler.addEventListener("click", hideDropdownOnTogglerClick);
	};

	elDropdownToggler.addEventListener("click", showDropdown);

	// * lang select
	var setUzLang = () => {
		elDropdownToggler.querySelector(".lang__img").src = "{% static 'flugs/uzb_flag_logo.jpg' %}";
		elDropdownToggler.querySelector(".lang__text").textContent = "Uz";
		{#localStorage.setItem('lang', 'uz');#}
	};

	var setRuLang = () => {
		elDropdownToggler.querySelector(".lang__img").src = "{% static 'flugs/russia_flag_logo0.jpg' %}";
		elDropdownToggler.querySelector(".lang__text").textContent = "Ru";
		{#localStorage.setItem('lang', 'ru');#}
	};
	var setEnLang = () => {
		elDropdownToggler.querySelector(".lang__img").src = "{% static 'flugs/enflug.jpg' %}";
		elDropdownToggler.querySelector(".lang__text").textContent = "En";
		{#localStorage.setItem('lang', 'en');#}
	};

	var langSelect = (evt) => {
		if (!evt.target.classList.contains("tick")) {
			return;
		}

		var lang = evt.target.dataset.id;
		location.reload();

		if (lang === "uz") {
			setUzLang();
		}else if(lang === 'en'){
		    setEnLang()
        } else {
			setRuLang();
		}
	};

	    var sitePath = location.href;
	    var uzRegex = new RegExp('/uz/', 'gi');
	    var enRegex = new RegExp('/en/', 'gi');

	    if (sitePath.match(uzRegex)) {
			setUzLang();
		}else if(sitePath.match(enRegex)){
		    setEnLang()
        } else {
			setRuLang();
		}

	{#if(localStorage.getItem('lang')){#}
	{#    var savedLang = localStorage.getItem('lang');#}
    {##}
	{#    if (savedLang === "uz") {#}
	{#		setUzLang();#}
	{#	}else if(savedLang === 'en'){#}
	{#	    setEnLang()#}
    {#    } else {#}
	{#		setRuLang();#}
	{#	}#}
    {#}#}

	elDropdown.addEventListener("click", langSelect);

	{# nav scroll effect #}
	var elNav = $('.nav');
    window.addEventListener('scroll', function(){
        if(window.scrollY > 225){
            elNav.classList.add('nav-upgraded');
        } else {
            elNav.classList.remove('nav-upgraded');;
        }
    });
})();


        </script>
		<script src="{% static 'js/nav.js' %}"></script>
		<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
		<script src="{% static 'js/swiper.js' %}"></script>
		<script src="{% static 'js/employees-swiper.js' %}"></script>
		<script src="{% static 'js/upbutton.js' %}"></script>
	</body>
</html>

